.header-bg{
    background: #f1b0b7;
    height: 150px;
}
.header-bg a{
    text-decoration: none;
    color: #444;
}
.header-bg .b-nav a{
    text-decoration: none;
    color: #444;
    font-size: 1.3rem;
    font-family: "ºÚÌå";
    font-weight: 600;
}
@media (max-width: 991px ){
    .header-bg .b-nav a{
        font-size: 1rem;
    }
}
.header-bg .b-nav a:hover{
    color:#0b2e13;
}
.header-bg #search{
    position: absolute;
    z-index: 10;
    top:0px;
    right:18px;
    display: none;
    transition: all 2s;
}
@keyframes inputDown {
    0%{
        width:20px;
    }
    100%{
       width: 200px;
    }
}
.header-bg #search input{
    outline-style: none;
    background:#f1b0b7;
    height: 30px;
    border-radius: 15px;
    border:2px solid #666;
    padding-left: 10px;
    animation:inputDown 1s ;
}
.header-bg #search img{
    position: absolute;
    width:28px;
    right: 9px;
    top: 10px;
}

